.App {
	text-align: center;
	background-color: #bf571196;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Courier New', Courier, monospace;

	&-logo {
		height: 30vmin;
	}

	&-link {
		color: blue;
	}
}
